.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gridforcards
{
    display: flex;
     flex-direction: row; 
    /* flex-wrap: ----; TODO : renseigner avec la bonne valeur */     
    width:80%;
    background-color: #fffffa;
    /* justify-content: ---; TODO : renseigner avcec la bonne valeur */
}
